<div class ='contacts-header'>
    Contacts
</div>
<div class ="contact-body"> 2023 HOA Board Members
    <div class ="contact-body-pdfs">
        <div>President, Angela Guglielmino:<a [href]="mailText" (click) = "mailMe('cphoa.angelica@gmail.com')"> cphoa.angelica@gmail.com</a></div> 
        <br>
        <div>Vice-President, Richard Strickland:<a [href]="mailText" (click) = "mailMe('strickRichardcphoa@gmail.com')"> strickRichardcphoa@gmail.com</a></div> 
        <br>
        <div>Secretary/Treasureer, Jason Fort:<a [href]="mailText" (click) = "mailMe('cphoMain@gmail.com')"> cphoMain@gmail.com</a></div> 
        <br>
        <div>General Email for board member questions:<a [href]="mailText" (click) = "mailMe('cphoMain@gmail.com')"> cphoMain@gmail.com</a></div> 
        <br>
    </div>
    <div class ="contact-body-links-header">
        Management Company:
    </div>
    <div class="contact-body-links-description">
        Team Management perofrms the following duties:
        <div class="contact-body-links-sub-items">
        <div>- annual HOA assessment statements</div>
        <div>- processing payments to the association</div>
        <div>- conducts quarterly home inspections with letters of non-compliance</div>
        <div>- architectural committee requests</div>
    </div>
    Team management is the primary contact for association business. Their account representative is Christine Swenson:
    <a [href]="mailText" (click) = "mailMe('cswenson@teammgt.com')"> cswenson@teammgt.com</a>
    , Office Phone 678-393-2202
    </div>
    
</div>
