<div class ='contacts-header'>
    Contacts
</div>
<div class ="contact-body"> 2023 HOA Board Members
    <div class ="contact-body-pdfs">
        <div>President, Angela Guglielmino:<a [href]="mailText" (click) = "mailMe('cphoa.angelica@gmail.com')"> cphoa.angelica@gmail.com</a></div> 
        <br>
        <div>Vice-President, Richard Strickland:<a [href]="mailText" (click) = "mailMe('strickRichardcphoa@gmail.com')"> strickRichardcphoa@gmail.com</a></div> 
        <br>
        <div>Secretary/Treasurer, Jason Fort:<a [href]="mailText" (click) = "mailMe('cphoaMain@gmail.com')"> cphoaMain@gmail.com</a></div> 
        <br>
        <div>General Email for board member questions:<a [href]="mailText" (click) = "mailMe('cphoaMain@gmail.com')"> cphoaMain@gmail.com</a></div> 
        <br>
    </div>
    <div class ="contact-body-links-header">
        Management Company:
    </div>
    <div class="contact-body-links-description">
        Team Management performs the following duties:
        <div class="contact-body-links-sub-items">
        <div>- annual HOA assessment statements</div>
        <div>- processing payments to the association</div>
        <div>- conducts quarterly home inspections with letters of non-compliance</div>
        <div>- architectural committee requests</div>
    </div>
        Team Management is the primary contact for association business. 
    </div>
    <br>
    <div>
        Office Phone 678-393-2202
    </div>
    
    
</div>
