<div class ='projects-header'>
    Projects
  </div>
  <div class ="projects-body"> 2023 Projects:
    <div class ="projects-body-pdfs">
        <div>
          Several key projects have been part of the associations work during 2023. Some have been completed.
          Others are in process. Additional details can be found in the periodic newsletters or in broadcast emails to HOA members
        </div> 
        <br>
        <div>
          Fence Painting- completed through many volunteer hours on repairing and painting by a group of homeowners
        </div> 
        <br>
        <div>
          Mailbox for the HOA- Homeowners can mail documents to the association easily now. The address of the association is:
        </div> 
        <br>
        <div>
          Charleston Park HOA, 4100 Charleston Park Lane Acworth, GA 30101
        </div> 
        <br>
        <div>
          Tree Trimming- CPHOA Used an outside arborist to assess the actual needs for the tree trimming. 
          After acquiring three quotes the low quote/bid was used. The job was completed in one day when the low quote company came in with 4 crews.
        </div> 
        <br>
        <div>
         Pressure Washing Common Area Sidewalks- Watch for details in a newsletter or email.
        </div> 
        <br>
        <div>
          Playground Equipment Refurbishment- This is planned for completion before year end.
        </div> 
        <br>
      </div>
      <div class ="projects-body-secondary"> 2024 Projects:
      </div>
      <div class ="projects-body-pdfs">
        <div>
          Street Light Pole Painting- Some street light poles need painting. Our association will contact Cobb EMC and request that the light poles in the subdiviosn be painted in 2024.
        </div> 
      </div>
  </div>
  
  
  
  