<div class ='form-header'>
    Forms and Documents
</div>
<div class ="form-body"> Please click on the below links to download the document or go to the web site.

<div class ="form-body-pdfs">
    <br>
    <a (click) ="downloadPdf('p2023_v01 Charleston Park Articles of Incorporation')">Charleston Park Articles of Incorporation PDF</a> 
    <br>
    <br>
    <a (click) ="downloadPdf('p2023_v01 Charleston Park Covenants')">Charleston Park Covenants PDF</a> 
    <br>
    <br>
    <a (click) ="downloadPdf('p2023_v01 CPHOA_Rules_and_Policies')">Charleston Park Rules and Policies PDF</a> 
    <br>
    <br>
    <a (click) ="downloadPdf('p2023v01 Charleston Park By Lawspdf')">Charleston Park By Laws PDF</a>
    <br>
</div>
<br>

<div class ="form-body-links-header">
    Links: 
</div>
<br>
<div class="form-body-links-description">
    Additional information and other documents are listed on the Team Management website which is listed at 
    <a href="https://teammgt.com">https://teammgt.com</a>
    <br>
    and a homeowner portal is located on the web at
    <a href="https://teammgt.cincwebaxis.com">https://teammgt.cincwebaxis.com</a>
</div>
</div>