.app-component-body{
    min-width: 100%;
    background-color: lightgrey;
    min-height: 100vh;
   

}
.app-navbar-header{
    height:50px;
}
.app-navbar-list{
    background-color: darken(lightgrey, 15%);
    min-width: 100%;
    padding: 10px;
    display:flex;
    flex-direction: row;
    list-style-type: none;
    height: 100%;
}
.app-navbar-padder{
    width: 50px;
}
.app-navbar-home-page{
    margin-right: 30px; 
    cursor:pointer;
    &:hover{
        background-color: darken(lightgrey, 15%);
        font-weight: 800;
    }
} 
.app-navbar-forms{
    margin-right: 30px;
    cursor:pointer;
    &:hover{
        background-color: darken(lightgrey, 15%);
        font-weight: 800;
    }
}
.app-navbar-contact{
    margin-right: 30px;
    cursor:pointer;
    &:hover{
        background-color: darken(lightgrey, 15%);
        font-weight: 800;
    }
}
.app-navbar-projects{
    margin-right: 30px;
    cursor:pointer;
    &:hover{
        background-color: darken(lightgrey, 15%);
        font-weight: 800;
    }
}
.home-photo{
    z-index: 0;
    position: absolute;
 
}
.router-body{
    padding: 20px;
    z-index: 10;
    position: absolute;
    width: 100%;
  
}
   