<div class="app-component-body">
  <div class="app-navbar-header">
    <ul class="app-navbar-list">
      <li class ="app-navbar-padder" >
      </li>
      <li href="#" (click) ="onClickHome()" class ="app-navbar-home-page" >
        Home 
      </li>
      <li href="#" (click) ="onClickForms()" class ="app-navbar-forms">
        Forms
      </li>
      <li href="#" (click) ="onClickContacts()" class ="app-navbar-contact">
        Contact
      </li>
      <li href="#" (click) ="onClickProjects()" class ="app-navbar-projects">
        Projects
      </li>
    </ul>
  </div>
  <div class="router-body">
    <router-outlet></router-outlet>
  </div>
</div>