
<div class ='home-header'>
    Welcome to Charleston Park HOA, located in Acworth GA
</div>
<div class="home-body-info">
    <div class ="home-body-paragraph-one"> Located in Acworth Georgia, in the northwestern tip of Cobb County, Charleston Park 
        encompasses 48 homes in a beatiful, tree studded neighborhood with numerous community parks with amenities nearby.
    </div>
    <div class ="home-body-paragraph-two"> The City of Acworth holds community events throughout the year to celebrate holidays
       and special events that have become part of the landscape of this beatiful area of Cobb County.
    </div>
    <div class ="home-body-paragraph-three"> Charleston Park Subdivision is located in the city of Acworth, GA, off Old McEver Road.
        The subdivision is adjacent to U.S. Army Corps of Engineer property just across Proctor Creek from Cobb County's Kenworth Park. Our subdivision
         is included in the award-winning Cobb County School District. Lake Allatoona and Lake Acworth are just down the street from our location.
    </div>
    
</div>
